:root {
  --accent-default: #e7aa8d;
  --accent-dark: #e88354;
  --accent-light: #f4ccbc;

  
}


.custom-btn {
  padding: 12px 18px;
  vertical-align: middle;
  text-align: center;
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.3px;
  width: fit-content;
  transition: all ease-in-out 100ms;
}

.custom-btn:hover {
  cursor: pointer;
}

.custom-btn-outlined {
  border: 1px solid #e7aa8d;
  border-radius: 10px;
  color: #e7aa8d;
}

.custom-btn-outlined:hover {
  border: 1px solid #f4ccbc;
  color: #f4ccbc;
}

.custom-btn-outlined:active {
  border: 1px solid #e88354;
  color: #e88354;
}

.custom-btn-contained {
  border: 1px solid #e7aa8d;
  border-radius: 10px;
  background-color: #e7aa8d;
  color: white;
}

.custom-btn-contained:hover {
  border: 1px solid #f4ccbc;
  background-color: #f4ccbc;
  color: white;
}

.custom-btn-contained:active {
  border: 1px solid #e88354;
  background-color: #e88354;
  color: white;
}

.custom-btn-textual {
  color: #e7aa8d;
  border-radius: 10px;
  padding: 0 !important;
}

.custom-btn-textual:hover {
  color: #f4ccbc;
}

.custom-btn-textual:active {
  color: #e88354;
}
